PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=cztAS0UMTAMBMUE_Zz9qV07hGQ8T8Net
DRIVE_DISK=local
DB_CONNECTION=sqlite
CACHE_VIEWS=false
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
